/assignment-3/nbproject/private/
/assignment-3/build/
/assignment-4/nbproject/private/
/assignment-4/build/
/assignment-5/nbproject/private/
/assignment-5/build/
/assignment-6/nbproject/private/
/assignment-6/build/